.navbar {
  width: 100%;
  padding: 15px 0;
  background-color: #1e293b;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.7rem;
}

.main-heading {
  color: white;
  margin: 0;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 600;
}
